@tailwind base;
@tailwind components;
@tailwind utilities;

/* SlickJs Slider class initalization */
@import url("../../node_modules/slick-carousel/slick/slick.css");
@import url("../../node_modules/slick-carousel/slick/slick-theme.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.slick-slide > div {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.slick-dots li button:before {
  font-size: 20px;
  margin: 2rem 0 0 0;
}

section {
  width: 97% !important;
  margin: 2rem auto;
  @apply border-[1.5px] border-border rounded-md py-12;
}

/* ===== NAVBAR START ======*/
@media (max-width: 640px) {
  /* NAvbar start */
  .navlinks-open {
    background: rgb(0, 0, 0, 0.5);
    @apply w-[100vw] h-[85vh] bottom-0 z-40 fixed;
  }

  .open {
    @apply flex absolute justify-start items-start p-3 flex-col gap-3 h-auto w-[10rem] bg-white left-[0%] rounded transition-all z-[9999];
  }

  .close {
    @apply absolute left-[-150%];
  }
}
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px 24px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
}

.checkout h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.checkout-card {
  width: 100%;
}

.checkout-details {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  margin-top: 1rem;
}

.name {
  color: #999999;
}

.price {
  font-weight: bold;
}

.checkout-input {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

.checkout-input input {
  background-color: #f0f0f0;
  padding: 12px 16px;
  gap: 12px;
  border-radius: 62px;
  width: 70%;
}

.checkout-input button {
  padding: 12px 16px;
  background-color: #000000;
  border-radius: 62px;
  color: #f0f0f0;
  width: 30%;
}

.checkout-btn {
  padding: 16px 54px;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 62px;
  width: 100%;
}

.payment-form {
  margin: 6rem auto;
  width: 50%;
}

.payment-form input[type="text"] {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  color: #525252;
  padding: 16px 54px;
}

.payment-form textarea {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  color: #525252;
  margin-top: 4rem;
}

.payment-form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  padding: 14px 245px;
  border-radius: 5px;
}

.arrivals h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 3rem;
  margin: 3rem 0;
}

.container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.arrivals .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 295px;
}

.card .image {
  border-radius: 20px;
  height: 298px;
}

.arrivals article div {
  display: flex;
}

.arrivals article {
  display: flex;
  gap: 13px;
}

.arrivals button {
  display: block;
  margin: 1rem auto;
  padding: 16px 54px;
  border-radius: 62px;
  border: 1px solid #000000da;
  transition: 0.7s all;
}

.arrivals button:hover {
  background-color: #000000db;
  color: #f0f0f0;
}

.border {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.top-selling h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 3rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.top-selling .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 295px;
}

.top-selling article div {
  display: flex;
}

.top-selling article {
  display: flex;
  gap: 13px;
}

.top-selling button {
  display: block;
  margin: 1rem auto;
  padding: 16px 54px;
  border-radius: 62px;
  border: 1px solid #000000;
  transition: 0.7s all;
}

.top-selling button:hover {
  background-color: #000000;
  color: #f0f0f0;
}

/*====  FOOTER SECTION START  ====*/

.footer-details ul li {
  padding-top: 1rem;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.border-1 {
  background-color: #999999;
  border: 1px solid #999999;
}

/*=== 0RDER SUMMARRY SECTION ====*/
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px 24px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
}

.checkout h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.checkout-card {
  width: 100%;
}

.checkout-details {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  margin-top: 1rem;
}

.name {
  color: #999999;
}

.price {
  font-weight: bold;
}

.checkout-input {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

.checkout-input input {
  background-color: #f0f0f0;
  padding: 12px 16px;
  gap: 12px;
  border-radius: 62px;
  width: 70%;
}

.checkout-input button {
  padding: 12px 16px;
  background-color: #000000;
  border-radius: 62px;
  color: #f0f0f0;
  width: 30%;
}

.checkout-btn {
  padding: 16px 54px;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 62px;
  width: 100%;
}

.payment-form {
  margin: 6rem auto;
  width: 50%;
}

.payment-form input[type="text"] {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  color: #525252;
  padding: 16px 54px;
}

.payment-form textarea {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  color: #525252;
  margin-top: 4rem;
}

.payment-form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  padding: 14px 200px;
  border-radius: 5px;
}

/*==== CONFIGURATION PAGE ====*/
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing button {
  background-color: #000000;
  color: #ffff;
  padding: 2rem 4rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 2rem;
  font-size: 2rem;
}

/*=== PRODUCT DETAILS PAGE ===*/
.details-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
}

.details-images {
  display: grid;
  grid-template-areas:
    "two one"
    "three one"
    "four one";
    width: 60%;
}

.details-image:nth-child(1) {
  grid-area: one;
  height: 530px;
  width: 400px;
}

.details-image:nth-child(2) {
  grid-area: two;
}

.details-image:nth-child(3) {
  grid-area: three;
}

.details-image:nth-child(4) {
  grid-area: four;
}

.product-details {
  width: 40%;
}

.product-details h1 {
  font-size: 40px;
}

.border {
  background-color: #999999;
  padding: 1rem;
  border: 1px solid #999999;
}

.product-stars {
  display: flex;
  justify-content: left;
  align-items: center;
}

.product-stars p {
  margin-left: .5rem;
}

.product-stars Image {
  width: 24px;
  height: 24px;
}

.product-stars Image:nth-child(5) {
  width: 12px;
}

.product-price {
  font-size: 32px;
  font-weight: bold;
}

.product-text {
  color: #999999;
}

.color-section p{
color: #999999;
}

.colors {
  display: flex;
  gap: 1rem;
}

.color-1 {
  width: 37px;
  height: 37px;
  background-color: #4F4631;
  border-radius: 50%;
}

.color-2 {
  width: 37px;
  height: 37px;
  background-color: #314F4A;
  border-radius: 50%;
}

.color-3 {
  width: 37px;
  height: 37px;
  background-color: #31344F;
  border-radius: 50%;
}

.size-section p{
  color: #999999;
}

.size-section div {
  display: flex;
  gap: 1rem;
}

.size-section button {
  background-color: #f0f0f0;
  padding: 12px 24px;
  color: #999999;
  border: none;
  border-radius: 62px;
  text-transform: capitalize;
}

.size-section button:active {
  background-color: #000000;
  color: #FFFFFF;
}

.quantity {
  display: flex;
  gap: 1.5rem;
}

.quantity div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: #F0F0F0;
  border-radius: 62px;
  padding: 10px 20px;
}

.quantity div Image {
  height: 24px;
  width: 24px;
}

.quantity button {
  background-color: #000000;
  padding: 16px 54px;
  border: none;
  color: #FFFFFF;
  border-radius: 62px;
  width: 60%;
}

/*=== MEDIA QUERIES ===*/
@media (max-width: 850px) {
  .form {
    left: 0px;
    width: auto;
  }

  .details-display {
    flex-direction: column;
  }

  .details-images {
    width: 100%;
  }

  .product-details {
    width: 100%;
    margin: 0 2rem;
  }
}

@media (max-width: 780px) {
  .form {
    left: 0px;
    width: auto;
  }

  .form-container {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .search-container {
    display: none;
  }
  .hero {
    margin-top: -4rem;
  }
  .hero img {
    max-width: 100vw;
  }

  .hero-content {
    margin: 1rem;
  }

  /* .hero-content-width {
    justify-content: center;
    align-items: center;
    width: 100%;
  } */

  .hero-content-width {
    font-size: 20px;
  }

  .hero-content-width button {
    width: 100%;
  }

  .articles {
    flex-direction: column;
    align-items: start;
  }

  .logo-section {
    display: none;
  }

  .form {
    bottom: 90%;
    padding: 1rem 3rem;
    left: 0px;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-details {
    margin: 0;
  }

  .form-container h1 {
    font-size: 15px;
    margin-right: 0rem;
  }

  .payment-form {
    width: 100%;
    padding: 0 2rem;
  }

  .payment-form input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 14px 150px;
    border-radius: 5px;
  }

  .checkout {
    width: auto;
    padding: 20px 24px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
  }

  .details-images {
    gap: 1rem;
    grid-template-areas:
      "one one one"
      "two three four"
  }
}
