@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Inter:wght@400;500;600&family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

/* ===== NAVBAR START ======*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  float: right;
  margin: 1rem 3rem;
}

nav .options ul {
  display: flex;
  gap: 1rem;
}

nav .options .shop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

nav .options img {
  height: 6.5px;
  width: 11.5px;
}

.search-container {
  background: #f0f0f0;
  border-radius: 62px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 500px;
}

.search-container input {
  background: #f0f0f0;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 10px;
}
/* ===== NAVBAR END ======*/


/* === HERO SECTION START ===*/
.hero {
  position: relative;
  max-height: 100vh;
  width: 100vw;
}

.hero img {
  position: absolute;
  top: 18%;
  left: 0%;
  right: 0%;
  width: 100%;
  min-width: 100vw;
  max-height: 100vh;
  max-height: 100%;
  width: auto;
  height: 100vh;
  background-size: cover;
  overflow-x: hidden;
}

.hero-content {
  position: relative;
  height: 100vh;
  margin-left: 4rem;
  z-index: 99;
}

.hero-content-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 100vh;
  width: 50%;
}

.hero-content-width h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: 'Gorditas', serif;
}

.hero-content-width p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.hero-content-width button {
  background-color: #000000;
  border-radius: 62px;
  padding: 16px 54px;
  color: #FFFFFF;
  font-size: 16px;
}

.articles {
  display: flex;
  gap: 32px;
}

.articles h2{
  font-weight: 700;
  font-size: 40px;
}
/* === HERO SECTION END ===*/

/* NEW ARRIVALS SECTION */
.arrivals {
  margin: 6rem 3rem;
}

.arrivals h1 {
  text-align: center;
  font-family: 'Gorditas', serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 3rem;
  margin: 3rem 0;
}

.container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.arrivals .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 295px;
}

.card .image {
  border-radius: 20px;
  height: 298px;
}

.arrivals article div {
  display: flex;
}

.arrivals article {
  display: flex;
  gap: 13px;
}

.article-content {
  font-family: 'Gorditas', serif;
  
}

.article-content p {
  font-size: 20px;
  font-weight: bold;
}

.article-content .second {
  font-weight: bold;
font-size: 24px;
}

.arrivals button {
display: block;
margin: 1rem auto;
  padding: 16px 54px;
  border-radius: 62px;
  border: 1px solid #000000;
}

.border {
  background-color: #000000;
  border: 1px solid #000000;
}


/* TOP SELLING PRODUCT SECTION */
.top-selling h1{
  text-align: center;
  font-family: 'Gorditas', serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 3rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.top-selling .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 295px;
}

.top-selling article div {
  display: flex;
}

.top-selling article {
  display: flex;
  gap: 13px;
}


.top-selling button {
  display: block;
  margin: 1rem auto;
    padding: 16px 54px;
    border-radius: 62px;
    border: 1px solid #000000;
  }