@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Inter:wght@400;500;600&family=Poppins&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

/* ===== NAVBAR START ======*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  float: right;
  margin: 1rem 3rem;
}

nav .options ul {
  display: flex;
  gap: 1rem;
}

nav .options .shop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

nav .options img {
  height: 6.5px;
  width: 11.5px;
}

.search-container {
  background: #f0f0f0;
  border-radius: 62px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 500px;
}

.search-container input {
  background: #f0f0f0;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 10px;
}
/* ===== NAVBAR END ======*/


/* === HERO SECTION START ===*/
.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-bottom: 3rem;
}

.hero img {
  position: absolute;
  top: 18%;
  left: 0%;
  right: 0%;
  width: 100%;
  min-width: 100vw;
  max-height: 100vh;
  max-height: 100%;
  width: auto;
  height: 100vh;
  background-size: cover;
  overflow-x: hidden;
}

.hero-content {
  position: relative;
  height: 100vh;
  margin-left: 3rem;
  z-index: 99;
}

.hero-content-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 100vh;
  width: 50%;
}

.hero-content-width h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: 'Gorditas', serif;
}

.hero-content-width p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.hero-content-width button {
  background-color: #000000;
  border-radius: 62px;
  padding: 16px 54px;
  color: #FFFFFF;
  font-size: 16px;
}

.articles {
  display: flex;
  gap: 32px;
}
/* === HERO SECTION END ===*/

section {
  background-color: red;
}