/*=== PRODUCT DETAILS PAGE ===*/
.details-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
}

.details-images {
  display: grid;
  grid-template-areas:
    "two one"
    "three one"
    "four one";
  width: 60%;
}

.details-image:nth-child(1) {
  grid-area: one;
  height: 530px;
  width: 400px;
}

.details-image:nth-child(2) {
  grid-area: two;
}

.details-image:nth-child(3) {
  grid-area: three;
}

.details-image:nth-child(4) {
  grid-area: four;
}

.product-details {
  width: 40%;
}

.product-details h1 {
  font-size: 40px;
}

.border {
  background-color: #999999;
  padding: 1rem;
  border: 1px solid #999999;
}

.product-stars {
  display: flex;
  justify-content: left;
  align-items: center;
}

.product-stars p {
  margin-left: 0.5rem;
}

.product-stars Image {
  width: 24px;
  height: 24px;
}

.product-stars Image:nth-child(5) {
  width: 12px;
}

.product-price {
  font-size: 32px;
  font-weight: bold;
}

.product-text {
  color: #999999;
}

.color-section p {
  color: #999999;
}

.colors {
  display: flex;
  gap: 1rem;
}

.color-1 {
  width: 37px;
  height: 37px;
  background-color: #4f4631;
  border-radius: 50%;
}

.color-2 {
  width: 37px;
  height: 37px;
  background-color: #314f4a;
  border-radius: 50%;
}

.color-3 {
  width: 37px;
  height: 37px;
  background-color: #31344f;
  border-radius: 50%;
}

.size-section p {
  color: #999999;
}

.size-section div {
  display: flex;
  gap: 1rem;
}

.size-section button {
  background-color: #f0f0f0;
  padding: 12px 24px;
  color: #999999;
  border: none;
  border-radius: 62px;
  text-transform: capitalize;
}

.size-section button:active {
  background-color: #000000;
  color: #ffffff;
}

.quantity {
  display: flex;
  gap: 1.5rem;
}

.quantity div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 62px;
  padding: 10px 20px;
}

.quantity div Image {
  height: 24px;
  width: 24px;
}

.quantity button {
  background-color: #000000;
  padding: 16px 54px;
  border: none;
  color: #ffffff;
  border-radius: 62px;
  width: 60%;
}
