@media (max-width: 640px) {
  .form-container h1 {
    font-size: 15px;
    margin-right: 0rem;
  }

  .payment-form {
    width: 100%;
    padding: 0 2rem;
  }

  .payment-form input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 14px 150px;
    border-radius: 5px;
  }
}